html,
*,
button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  background-color: #ffc709;
}

.active:hover {
  background-color: #ffc709;
}

.container {
  max-width: 1120px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  background: transparent;
  height: 4rem;
  padding: 1rem 3rem;
  border: 2px solid #ffc709;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

button + button {
  margin-left: 1rem;
}

button:hover {
  background-color: #ffc60950;
}

.qual-objetivo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.qual-objetivo span {
  font-size: 1.125rem;
}

.qual-objetivo .buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-container {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-container span {
  font-size: 1.125rem;
}

.slider-container .slider-content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slider-container .slider-content .range-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 30vw;
  height: 0.25rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: opacityy 0.2s;
  transition: opacityy 0.2s;
  border-radius: 100px;
}

.slider-container .slider-content .range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #ffda61;
  cursor: pointer;
  border-radius: 100px;
  border: 0.25rem solid #ffc709;
}

.slider-container .slider-content .slider-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.slider-container .slider-content .slider-value .invest-value {
  font-size: 2.5rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.resgate {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resgate span {
  font-size: 1.125rem;
}

.resgate .buttons {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.simular {
  margin-top: 4rem;
  width: 100%;
  border: 2px solid #09a5ff;
  text-transform: uppercase;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.simular:hover {
  background: #09a5ff57;
}

.result {
  max-width: 1120px;
  width: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.result__container__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result__container__buttons .btn-carteira-recomendada {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c5c5c5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.result__container__buttons .btn-rentabilidade-historica {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c5c5c5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.result__container__buttons .btn--active {
  border-bottom: 3px solid #ffc709;
  font-weight: bold;
}

.result__container .carteira-recomendada__container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.result__container .carteira-recomendada__container .grafico {
  width: 40vw;
}

.result__container .carteira-recomendada__container .grafico canvas {
  margin-top: 1rem;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade {
  width: 100%;
  margin-left: 7rem;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table {
  width: 100%;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr {
  position: relative;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr th {
  text-align: start;
  font-size: 0.825rem;
  font-weight: normal;
  color: #c5c5c5;
  padding: 0.5rem 0;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr td {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr .valorPosFixadoColor {
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28px;
          flex: 1 0 28px;
  width: 5px;
  height: 2rem;
  left: -2rem;
  bottom: 5px;
  background-color: #6d7f99;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr .valorInflacaoColor {
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28px;
          flex: 1 0 28px;
  width: 5px;
  height: 2rem;
  left: -2rem;
  bottom: 5px;
  background-color: #da7500;
}

.result__container .carteira-recomendada__container .tabela-rentabilidade table tr .valorInternacionalColor {
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28px;
          flex: 1 0 28px;
  width: 5px;
  height: 2rem;
  left: -2rem;
  bottom: 5px;
  background-color: #311b92;
}

.result__container .rentabilidade-historica__container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.result__container .simular-novamente {
  margin-top: 4rem;
  border: 2px solid #2c2c2c;
}

.result__container .simular-novamente:hover {
  background: rgba(155, 155, 155, 0.418);
}

.bitcoin {
  width: 100%;
  height: 30vh;
  margin-top: 2rem;
}

.bitcoin .heading {
  background: #f67200;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
}

.bitcoin .heading .input-value {
  border: 0.5px solid rgba(255, 255, 255, 0.295);
  margin: 0 0.5rem;
}

.bitcoin .heading .input-value input {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  max-width: 6rem;
  color: #fff;
  font-weight: bold;
  outline: none;
  text-align: center;
}

.bitcoin .heading strong {
  margin-left: 0.5rem;
}

.display-hidden {
  display: none !important;
}
/*# sourceMappingURL=styles.css.map */